<%- if source[:content] %>
  <%- if source[:is_image] %>
    <div class="source" >
      <img alt='image' width=300 src="data:image/<%= source[:ext].delete '.' %>;base64,<%= Base64.encode64 source[:content] %>">
    </div>
  <%- else %>
    <div class="source" >
      <pre><code <%= "class=#{source[:language]}" if source %> >
        <%= source[:content] =%>
      </code></pre>
    </div>
  <%- end %>
<%- end %>
